@import url('https://fonts.googleapis.com/css?family=Lato');
body{

    font-size: 48px;
    background-image:url('bg3.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1 {
	font-family: Lato;

	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
.title{
    padding-left: 3em;
    font-family: 'Lato', serif;
}
