@font-face {
    font-family: 'latobold';
    src: url('lato-bold-webfont.woff2') format('woff2'),
         url('lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latohairline';
    src: url('lato-hairline-webfont.woff2') format('woff2'),
         url('lato-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('lato-light-webfont.woff2') format('woff2'),
         url('lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.woff2') format('woff2'),
         url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    background-image:url('bg4.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1{
    font-family: 'latohairline';
    font-size: 120px;
    font-weight: lighter;
    margin-left: 100px;
    margin-top: 180px;
    margin-bottom: 0px;
}

.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .05em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
     /* Gives that scrolling effect as the typing happens */
    /*letter-spacing: .15em; /* Adjust as needed */
    animation-name: typing;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

}

@keyframes typing {
    0% {width:0}
    50% {width:3.5em}
    100% {width:0}

}

@keyframes typing1 {
    0% {width:0}
    50% {width:3.2em}
    100% {width:0}

}

@keyframes typing2 {
    0% {width:0}
    100% {width:3.2em}

}



@keyframes blink-caret {
    from, to {border-color: white}
    50% {border-color: transparent}
}

#subtext{
    font-family: 'latohairline';
    font-size: 100px;
    font-weight: lighter;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    width:0em
    /*float: left;*/
    /*clear: both;*/
}
#first{
    margin-left: 100px;
}

img{
    margin-top: 0px;
    margin-right: 40px

}
